{% comment %} {% extends 'homecopy.html' %}<!--자바 스크립트로-->
{% block main_content %}
<h1>수정에 실패했습니다.</h1>
<a href="/board_moim/list/">모임 리스트로</a>
{% endblock %} {% endcomment %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정에 실패했습니다.</title>
    <script>
        var result = confirm("{{id.info_id}}님(을/를) {{make_moim.name}}에 초대 하시겠습니까?")

       if(result){
        document.write("{{id.info_id}}님(을/를) 초대하셨습니다.")
       }
       else{
        document.write("초대가 취소되었습니다.")
       } 
    </script>
</head>
<body>
</body>
</html>