{% comment %} {% extends 'homecopy.html' %}<!--자바 스크립트로-->
{% block main_content %}
<h1>수정에 실패했습니다.</h1>
<a href="/board_moim/list/">모임 리스트로</a>
{% endblock %} {% endcomment %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정에 실패했습니다.</title>
    <script>
        var result = confirm("수정에 실패하셨습니다")
        window.opener.location.reload();    //부모창 reload
        window.close();    //현재 팝업창 Close


       
    </script>
</head>
<body>
</body>
</html>