{% extends 'home.html' %}
{% block main_content %}
    <h1>모임만들기</h1>
    <hr>
    <form action='/detail/{{make_pk}}/' method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            <tr>
            <input type="file" name="imgfile">이미지파일
            <br>
            <input type="text" name="name">이름
            <br>
            <textarea name="commend" id="commend" cols="50" rows="20" aria-valuetext="설명"></textarea>
            <br>
            <input type="text" name="location">지역
            <td>
                <select name="max_people" id="max_people">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
            </td>
            </tr>
        </table>
        <input type="submit" value="만들기">
    </form>
{% endblock %}