<body>
    <h1>게시판</h1>
    <hr>

    <a href="/"><button>홈으로</button></a>
    <a href="{% url 'write:free' %}"><button>자유게시판</button></a>
    <a href="{% url 'write:join' %}"><button>가입인사</button></a>
    <a href="{% url 'write:gallery' %}"><button>갤러리</button></a>
    {% if login_session %}
    <a href=""></a><button>로그아웃</button></a>
    {% else %}
    <a href=""></a><button>로그인</button></a>
    <a href=""></a><button>회원가입</button></a>
    {% endif %}
    
    {% comment %} {% extends 'home/index.html' %} {% endcomment %}

    {% comment %} {{% block contents  %} {% endcomment %}

    {% comment %} {% endblock contents  %} {% endcomment %}

}
</body>