{% extends 'homecopy.html' %} 
{% block left_menu %}
{% include 'write/board_menu.html' %}
{% endblock left_menu %}
{% block main_content %}

<form action="/write/gallery/?<pk>" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped">
<body>
    <tr>
        <th>제목</th>
        <td>
            <input name="title" id="title" type="text" style="width:700px" maxlength="200">
        </td>
    </tr>
    <tr>
        <th>내용 입력</th>
        <th>
            <textarea name="contents" id="contents" rows="15" cols="100"></textarea>
        </th>
    </tr>
</form>
</body>
</table>
</form>
{% endblock  %}