{% extends 'homecopy.html' %} 
{% block left_menu %}
{% include 'write/board_menu.html' %}
{% endblock left_menu %}
{% block main_content %}

<form action="/write/gallery/?<pk>" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<body>
<form action="">
    <div>갤러리</div>
    <input type="text" name="title">title</input>
    <input type="file" name="files">
    <textarea name="" id="" cols="30" rows="10" name='text'></textarea>
    <input type="submit" value="글쓰기">
</form>
</body>
</form>
{% endblock  %}