<div>

    <form action="/write/join/{{make_moim.make_id}}/update/" method="post">
        {% csrf_token %}
    <h1>모임 : {{make_moim.name}}</h1>
    <p>게시번호 {{join.join_id}} 수정입니다.</p>
    <h5>"{{request.session.info_id}}" 님의 인사창입니다.</h5>
    제목 : <input type="text" name="title">
    <br>
    <input type="hidden" name="writer" value='{{request.session.info_id}}' readonly>
    <textarea class="form-control" name="comment">내용</textarea>
    <input type="hidden" name='make_moim' value="{{make_moim.make_id}}">
    <button>등록</button>
    </form>
    <hr>

</div>