{% extends 'homecopy.html' %} 
{% block left_menu %}
{% include 'write/board_menu2.html' %}
{% endblock left_menu %}
{% block main_content %}
<div>
</div>
</tbody>
<tbody>
    <ul>
    {% if page > 10 %}
        <a href="/join/{{make_moim.make_id}}/comment/?page={{page | add:'-10'}}">이전</a>
    {% endif %}
    {% for p in page_info %}
        {% comment %} <li {% if p == page %} active {% endif %}> {% endcomment %}
        <a href="/join/{{make_moim.make_id}}/comment/?page={{p}}">
        {{p}}
        </a></li>
    {% endfor %}
    {% if total_page > e_page %}
        <a href="/join/{{make_moim.make_id}}/comment/?page={{page | add:'10'}}">다음</a>
    {% endif %}
    </ul>

</tbody>
<tbody>
<div>
    {% for total in totals %}
    <div>
        △<br>
        <h6> {{total.title}} </h6>
        <p> {{total.comment}} </p>
        <h6> {{total.info}} </h6>
        <h6> {{total.write_dttm}} </h6>
        <form action=""><button value="수정" name="update">수정</button></form>
        <form action=""><button value="삭제" name="delete">삭제</button></form>
        <form action="" method="POST"><button value="답글" >답글</button></form>
        <hr>
    </div>
    {% endfor %}
</div>
<div>

    <form action="/write/join/{{make_moim.make_id}}/comment/" method="get">
    <h1>모임 : {{make_moim.name}}</h1>
    <h5>"{{request.session.info_id}}" 님의 인사창입니다.</h5>
    제목 : <input type="text" name="title">
    <br>
    <input type="hidden" name="writer" value='{{request.session.info_id}}' readonly>
    <textarea class="form-control" name="comment">내용</textarea>
    <input type="hidden" name='make_moim' value="{{make_moim.make_id}}">
    <button>등록</button>
    </form>
    <hr>

</div>


{% endblock  %}