<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{single_gallery.title}}</title>
</head>
<body>
    <h1>{{make_moim.name}} 갤러리</h1>
<nav>
    <a href="/write/gallery/{{make_moim.make_id}}">갤러리로 이동</a>
</nav>
    <h1>제목 : {{single_gallery.title}}</h1>
    <hr>
    <h3>작성자 : {{single_gallery.info.info_id}}<h3>
    <h4>작성 일자 : {{single_gallery.write_dttm}}</h4>
    <hr>
    {% if single_gallery.imgfile %}
        {% for s in manyimg %}
            <img src="/media/{{s.gallery_set.imgfiles}}/" alt="사진이 없어요">
        {% endfor %}
    {% else %}
    <img src="/static/default.jpg/" alt="defult">
    {% endif %}
    <hr>
    <p>{{single_gallery.comment}}</p>
</body>
</html>