<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><tr><td>
        <li class="list-group-item" name="free_id" value=""> {{free.free_id}}</li></td>
        <td><li class="list-group-item" name="title"> {{free.title}}</li></td>
        </tr><td><li class="list-group-item" name="text"> {{free.text}}</li></td>
        <td><li class="list-group-item" name="write_dttm"> {{free.write_dttm}}</li></td>
    </div>
</body>
</html>