{% extends 'homecopy.html' %}
{% block main_content %}
    {% if search %}
    <h1> {{search}} 검색 결과</h1>
    <br>
    <hr>
    {% for s in searchs %}
        {{s.title}}<br>
        {{s.text}}<br>
        {{s.write_dttm}}
        {{s.update_dttm}}
        {{s.group}}
        {{s.free_id}}
        {{s.info}}
        {{s.comment}}
        {{s.gallery_id}}
    {% endfor %}
    {% else %}
    <h1>검색 결과가 없습니다. 새로 검색해주세요</h1>
    {% endif %}
{% endblock %}
{% comment %} search 함수가 마이그레이션 안되있어서 실행 안됨! - 가서 오류 해결하기 {% endcomment %}